/* .Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.palette-colors {
  height: 90%;
} */

/* .Palette-footer {
  background-color: white;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
  font-weight: bold;
}

.emoji {
  margin-top: -8px;
  padding: 0 0.4rem;
  font-size: 1.5rem;
} */
